html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.bottom {
    margin-top: 20px;
    display: flex;
}

.infoSpotNames {
    margin: 10px;
}

.name {
    width: 100px;
    height: 52px;
    margin: 10;
    display: flex;
    align-items: center;
}

.bRight {}

.infoSpot {
    margin: 10px;
}

.holeNumberRow {
    display: flex;
}

.holeNumber {
    width: 51px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yardRow {
    display: flex;
}

.yard {
    width: 51px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handicapRow {
    display: flex;
}

.handicap {
    width: 51px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parRow {
    display: flex;
}

.par {
    width: 51px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holes {
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole:last-child {
    border-right: 1px solid black;
}